<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Vending Machine</title>
</head>
<body>
	<div>
		<h2 th:text="${name}"></h2>

		<p th:text="'Please, insert ' + ${price}"></p>
		
		<p th:text="'Your credit: ' + ${credit}"></p>
		
		<table>
			<tbody>
				<tr th:each="coin : ${allCoins}">
					<td><a th:text="'Insert ' + ${coin.value}" th:href="@{/product(productId=${productId},value=${coin.value})}"></a></td>
				</tr>
			</tbody>
		</table>	
		
		<a th:text="Home" th:href="@{/choose_product}"></a>	
	</div>
</body>
</html>