<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Vending Machine</title>
</head>
<body>
	<div>
		<div th:unless="${#lists.isEmpty(returnCoins)}">
			<table>
				<thead>
					<tr>
						<th>Returned coins:</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="coin : ${returnCoins}">
						<td th:text="${coin} + ' ' + ${currency}"></td>
					</tr>
				</tbody>
			</table>		
		</div>
		
		<a th:text="Home" th:href="@{/choose_product}"></a>
	</div>
</body>
</html>